/************ Global Styles and Main Page ************/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --main-color: #170c04;
    --orange-color: #e27b3a;
    --white-color: #FFFFFF;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .container {
    max-width: 1160px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }
  
  .header__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    gap: 5px;
  }
  
  .logo-img {
    width: 36px;
    height: 39px;
    width: 100%;
  }
  
  .logo-name {
    text-transform: uppercase;
    padding-top: 6px;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    color: #000000;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    gap: 55px;
    font-weight: 400;
    line-height: normal;
  }
  
  .nav a {
    color: var(--main-color);
  }

  @media (min-width: 769px) {
    /* Приховання "Search" "Cart" */
    .nav-item:nth-last-child(2), 
    .nav-item:last-child {
        display: none;
    }
}
  
  .menu {
    display: flex;
    gap: 35px;
  }
  
  .main-section {
    margin-bottom: 200px;
  }
  
  .main-section>.container {
    position: relative;
  }
  
  .main__title {
    max-width: 613px;
    padding-top: 170px;
    font-family: Poppins, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
    position: relative;
    z-index: 3;
  }

  .main__btn {
  display: inline-block;
  margin: 50px 20px 0 0;
  padding: 12px 30px;
  border-radius: 24px;
  background: var(--orange-color);
  color: #ffffff;
  border: 1px solid rgb(226, 123, 58, 0.15);
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
}

.dog-care-btn {
  display: inline-block;
  margin: 50px 20px 0 0;
  padding: 12px 30px;
  border-radius: 24px;
  background: #fff;
  color: var(--orange-color);
  border: 1px solid rgb(226, 123, 58, 0.15);
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
}

.main__btn:hover {
  background-color: #fff;
  color: var(--orange-color);
  border: 1px solid rgb(226, 123, 58, 0.15);
}

.dog-care-btn:hover {
  background-color: var(--orange-color);
  color: #fff;
}

.details {
  margin-right: 0;
}

.main__img {
  max-width: 900px;
  width: 100vw;
  height: auto;
  position: absolute;
  right: -100px;
  top: 0;
  background-repeat: no-repeat;
  z-index: 2;
  }

  .product__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    margin-bottom: 120px;
  }
  
  .product__one:hover {
    box-shadow: 2px 2px 12.5px 1px var(--orange-color);
  }

.product__one {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    max-width: 360px;
    width: 100%;
  }
  
  .product__one-img {
    width: 63px;
    max-width: 100%;
    padding-bottom: 24px;
    margin-top: -17px;
  }
  .product__one-title {
    color: var(--main-color);
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 11px;
    padding: 0 25px;
  }
  
  .product__one-desc {
    color: var(--main-color);
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
    padding: 0 30px;
  }


.product-btn {
  margin: 0 110px 18px;
  color: var(--orange-color);
  font-weight: 400;
  line-height: 24px;
  display: block;
}

/************ Popular Products ************/


.popular {
  text-align: center;
  margin-bottom: 60px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 32.25px;
  font-weight: 500;
  line-height: normal;
}

.popular__title {
  margin-bottom: 18px;
}

.popular__desc {
  font-weight: 400;
  line-height: 24px;
  max-width: 505px;
  margin: 0 auto 25px;
}

.popular__first-wrapper,
.popular__second-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.popular__first-wrapper {
  margin-bottom: 66px;
}

.popular__wrap {
  flex: 1 1 50%;
  max-width: 555px;
}

.popular__wrap-box {
  border-radius: 20px;
  background: #fcf2eb;
  margin-bottom: 25px;
}

.first {
  display: flex;
  min-height: 420px;
  justify-content: center;
  align-items: center;
}

.popular__wrap-img {
  max-width: 100%;
}

.pop {
  mix-blend-mode: darken;
}

.popular__wrap-desc {
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 9px;
}

.popular__wrap-follow,
.work__wrap-follow {
  display: block;
  color: var(--orange-color);
  font-weight: 400;
  line-height: normal;
}

.popular__second-row {
  margin-bottom: 46px;
}

.second {
  display: flex;
  min-height: 292px;
  justify-content: center;
  align-items: center;
}

.popular__btn {
  display: inline-block;
  border-radius: 4px;
  background: #fff;
  color: var(--orange-color);
  border: 1px solid rgb(226, 123, 58, 0.15);
  padding: 12px 30px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto 130px;
}

.popular__btn:hover {
  background-color: var(--orange-color);
  color: #fff;
}

/************ Dog Care ************/

.care>.container {
  position: relative;
}

.care__img {
  width: 100%;
  max-width: 830px;
  height: auto;
  position: relative;
  top: -150px;
  left: -145px;
}

.care__wrap {
  max-width: 487px;
  position: absolute;
  right: 0px;
  top: 70px;
}

.care__wrap-subtitle {
  color: var(--orange-color);
  font-weight: 500;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.care__wrap-desc {
  margin-top: 18px;
  color: var(--main-color);
  font-weight: 400;
  line-height: 24px;
}

.work {
  text-align: center;
  margin-bottom: 130px;
}

.work__title {
  max-width: 505px;
  display: inline-block;
  margin-bottom: 36px;
}

.work__wrap {
  display: flex;
  justify-content: space-between;
  gap: 83px;
}

.work__wrap-desc {
  max-width: 360px;
}

.work__wrap-img {
  width: 100%;
  height: auto;
  max-width: 307px;
}

.work__wrap-title {
  margin: 51px 0 22px;
  color: var(--main-color);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.work__wrap-text {
  color: var(--main-color);
  text-align: center;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
  margin-bottom: 15px;
}

/************ Product Gallery ************/


.gallery__content {
  display: flex;
  flex-direction: row;
  gap: 31px;
  margin-bottom: 120px;
}

.gallery__wrapper {
  max-width: 554px;
}

.gallery__wrap-title {
  margin-bottom: 12px;
  text-align: center;
}

.gallery__wrap-text {
  margin-bottom: 33px;
  color: var(--main-color);
  text-align: center;
  font-weight: 400;
  line-height: 24px;
}

.gallery__wrap-images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}

.gallery__wrap-images a {
  width: 262px;
  height: 170px;
  border-radius: 5px;
  padding-top: 10px;
}

.gal-img {
  width: 80%;
}

.gall-img:first-child {
  background: #900a081a;
}

.gall-img:nth-child(2) {
  background-color: rgba(36, 61, 126, 0.1);
}

.gall-img:nth-child(3) {
  background-color: rgba(128, 1, 37, 0.1);
}

.gall-img:last-child {
  background-color: rgba(196, 140, 174, 0.1)
}

.gallery__main-img {
  max-width: 555px;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(196, 21, 75, 0.1);
}

.gal-img-big {
  padding: 39px 46px 45px;
  width: 100%;
}

/************ Quotes ************/

.feedback {
  margin-bottom: -80px;
}

.swiper {
  width: 100%;
  height: 465px;
}

.feedback__wrapper {
  color: var(--main-color);
  text-align: center;
  font-family: Poppins;
  font-size: 32.25px;
  font-weight: 500;
  line-height: 45.15px;
  margin-bottom: 52px;
}

.feedback__wrap {
  max-width: 555px;
  min-height: 272px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.06)
}

.feedback__wrap::before {
  position: absolute;
  content: " ";
  width: 41px;
  height: 37px;
  background-image: url("../img/quotes-left.svg");
  top: 12px;
  left: 30px;
}

.feedback__wrap::after {
  position: absolute;
  content: " ";
  width: 41px;
  height: 37px;
  background-image: url("../img/quotes-right.svg");
  bottom: 15px;
  right: 30px;
}

.feedback__wrap-photo {
  padding: 30px 0 20px;
  text-align: center;
}

.feedback__wrap-photo img {
  max-width: 100%;
  height: auto;
}

.feedback__wrap-text {
  color: var(--main-color);
  opacity: 0.7;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  max-width: 495px;
  margin: 0 30px;
}

.feedback__wrap-star {
  text-align: center;
  margin: 20px 0 23px;
}

.feedback__wrap-author {
  color: var(--main-color);
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  max-width: 495px;
  margin-left: 34px;

}

.feedback__wrap-job {
  color: var(--main-color);
  opacity: 0.6;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  max-width: 495px;
  margin-left: 34px;
  padding-bottom: 21px;

}

.account {
  position: absolute;
  width: 100%;
}

.feedback__account1 {
  bottom: 158px;
  left: 260px;
  z-index: -1;
}

.feedback__account2 {
  bottom: 175px;
  left: 250px;
  z-index: -2;
}

.feedback__account3 {
  bottom: 195px;
  left: 240px;
  z-index: -3;
}

.feedback__btn {
  bottom: 230px;
  position: absolute;
  right: 285px;
}

.swiper-button-next,
.swiper-button-prev {
  color: transparent;
}

.swiper-button-prev {
  top: -55px;
}

.swiper-button-next {
  left: 10px;
  top: -10px;
}

.swiper-button-prev::before {
  content: url(../img/arrow-up.svg);
  position: absolute;
  right: 5px;
  margin-left: 23px;
  margin-bottom: 20px;
  top: 5px;
  opacity: .5;
}

.swiper-button-next::before {
  content: url(../img/arrow-up.svg);
  position: absolute;
  transform: rotate(180deg);
  right: 5px;
  top: 5px;
  opacity: .5;
}

.swiper-button-prev:hover::before,
.swiper-button-next:hover::before {
  opacity: 1;
}
.message {
  position: relative;
  z-index: 10;
  margin-bottom: 160px;
}

/************ Form ************/

.message>.container {
  position: relative;
}

.message__fill {
  height: auto;
  width: 100%;
}

.message__content {
  position: absolute;
  display: flex;
  justify-content: space-around;
  gap: 96px;
  top: 110px;
  left: 75px;
}

.message__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  max-width: 423px;
}

.message__wrap-title {
  color: #FFF;
  font-family: Poppins;
  font-size: 31.25px;
  font-weight: 500;
  line-height: 40.6px;
}

.message__wrap-text {
  color: #FFF;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}

.message__form {
  margin-top: 38px;
}

.message__form-box {
  height: 70px;
  border-radius: 10px 0 0 10px;
  border: none;
  background: #FFF;
  outline: none;
  padding: 15px 200px 14px 21px;
  line-height: 40.6px;
}

::placeholder {
  color: var(--main-color);
  font-weight: 400;
  line-height: 40.6px;
  opacity: 0.4;
}
.message__form-btn {
  height: 70px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background: var(--orange-color);
  cursor: pointer;
  padding: 15px 37px;
  color: #FFF;
  font-size: 18px;
  left: -4px;
  position: relative;
}

/************ Footer ************/

.footer {
  position: relative;
}

.footer__fill {
  background-color: #140A03;
  height: 303px;
  width: 100%;
}

.footer__fill-polygon {
  clip-path: polygon(50% 70%, 10% 100%, 89% 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #140A03;
  top: -300px;
  left: 0;
}

.footer__wrapper {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-between;
  gap: 192px;
  height: auto;
}

.footer__wrapper a {
  color: #FFF;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}

.footer__wrap-contact a[href="mailto:alaminhossen.75bd@gmail.com"] {
  color: var(--orange-color);
}

.footer__wrap-contact a[href="mailto:alaminhossen.75bd@gmail.com"]::before {
  content: "Contact: ";
  color: #FFF
}


.footer__wrap-contact,
.footer__wrap-homepage {
  display: flex;
  flex-direction: column;
  gap: 37px;
  justify-content: flex-end;
  width: 295px;
  max-width: 100%;
}

.footer_wrap-social {
  text-align: center;
}

.footer-logo {
  text-align: center;
  margin-bottom: 66px;
}

.footer-img {
  margin-bottom: 12px;
  display: block;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  gap: 23px;
}

.footer__wrap-homepage {
  align-items: flex-end;
}

.nav-btn {
  display: none;
}


/*########### Laptop ###########*/

@media (max-width: 1310px) {
  .main__img {
    max-width: 720px;
    right: 0;
  }

  .care__img {
    max-width: 810px;
  }

  .care__wrap {
    right: 0px;
  }

  .message__content {
    top: 95px;
    left: 50px;
  }

  .footer__wrapper {
    width: 95%;
  }
}

/* ////// */
@media (max-width: 1150px) {
  .main-section{
    margin-left: 50px;
    margin-bottom: 130px;
  }

  .main__title {
    max-width: 502px;
    font-size: 85px;
    padding-top: 90px;
    line-height: 100px;
  }

  .main__img {
    max-width: 630px;
    right: 5px;
  }

  .product__content {
    margin-bottom: 90px;
  }

  .popular__btn {
    margin: 0 auto;
  }

  .care {
    margin-bottom: 70px;
    text-align: center;
  }

  .care__img {
    position: static;
    margin: 30px auto 0;
    display: block;
  }

  .care__wrap {
    position: static;
    margin: 0 auto;
    display: inline;
  }

  .account {
    display: none;
  }

  .feedback__btn {
    right: 255px;
  }

  .footer__inner {
    gap: 155px;
  }

  .footer-logo {
    margin-bottom: 45px;
  }
}

/* //////// */
@media(max-width: 1070px) {
  .feedback__btn {
    right: 225px;
  }

  .message__content {
    top: 80px;
    left: 55px;
    gap: 45px;
  }

  .message__wrapper {
    max-width: 400px;
  }

  .message__wrap-title {
    font-size: 28px;
  }

  .message__form-box {
    padding-right: 150px;
    height: 50px;
  }

  .message__form-btn {
    height: 50px;
  }
}

/* ////////// */
@media (max-width: 1000px) {
  .main__img {
    max-width: 540px;
    right: 0;
  }

  .main__title {
    font-size: 75px;
  }

  .product__content {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 45px;
  }

  .work {
    margin-bottom: 80px;
  }

  .work__wrap {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
  }

  .gallery__inner-img {
    margin-top: 140px;
  }

  .gallery__wrap-images {
    justify-content: center;
  }

  .feedback__btn {
    right: 175px;
  }

  .message__content {
    left: 270px;
    top: 25px;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }

  .message__wrapper {
    text-align: center;
  }

  .message__wrap-title {
    font-size: 26px;
    line-height: 28px;
  }

  .message__form {
    margin-top: 10px;
  }

  .footer__wrapper {
    gap: 17%;
  }
}

/*########### Tablet ###########*/


@media (max-width: 880px) {

.main__title {
    text-align: left;
    max-width: 375px;
    padding-top: 50px;
    font-size: 64px;
}

.main__img {
    max-width: 480px;
}

.main__btn {
    padding: 12px 80px;
    margin-top: 50px; 
}

.popular__btn {
  padding: 12px 120px;
}

  .popular__first-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery__main-img {
    display: none;
  }

  .gallery__content {
    justify-content: center;
    margin-bottom: 70px;
  }

  .feedback__btn {
    right: 145px;
  }

  .message__content {
    left: 235px;
  }

  .message__form-box {
    padding-right: 130px;
  }

  .message__form-btn {
    padding: 12px 30px;
    font-size: 15px;
  }

  .svg-foo {
    transform: scaleY(1.3);
  }

  .footer__inner {
    gap: 50px;
  }

  .footer__wrap-contact,
  .footer__wrap-homepage {
    align-items: center;
    text-align: center;
  }
}

/* ///////////// */
@media (max-width: 800px) {
  .main-section {
    margin-left: 35px;
  }

  .main__title {
    font-size: 55px;
    max-width: 350px;
    padding-top: 35px;
  }

  .main__img {
    max-width: 400px;
    right: 0;
  }

  .main__btn {
    margin-top: 40px;
  }

  .popular__second-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedback__btn {
    right: 100px;
  }

  .message {
    margin-bottom: 85px;
    height: 300px;
  }

  .svg {
    transform: scaleY(1.4);
  }

  .message__content {
    left: 180px;
  }

  .svg-foo {
    transform: scaleY(1.8);
  }

  .footer-social {
    gap: 15px;
  }
}

/* ///////////// */
@media (max-width: 700px) {

  .container {
    flex-direction: column;
  }

  .nav-btn {
    display: block;
    width: 23px;
    height: 19px;
    order: 1;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 30;
    top: -5px;
  }

  .btn-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
    transition: .5s linear;
  }

  .btn-line:nth-child(1) {
    top: 2px;
  }

  .btn-line:nth-child(2) {
    top: 10px;
  }

  .btn-line:nth-child(3) {
    top: 10px;
  }

  .btn-line:nth-child(4) {
    top: 18px;
  }

  .nav-open .btn-line:nth-child(1) {
    transform: scaleX(0);
  }

  .nav-open .btn-line:nth-child(2) {
    transform: rotate(45deg);
  }

  .nav-open .btn-line:nth-child(3) {
    transform: rotate(-45deg);
  }

  .nav-open .btn-line:nth-child(4) {
    transform: scaleX(0);
  }

  .nav {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px; 
    background-color: var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    font-size: 24px;
    font-weight: 500;
    transform: translateX(-100%); 
    transition: transform 0.5s ease-in; 
    flex-direction: column; 
  }

.nav-open .nav {
    transform: translateX(0); 
  }

.nav a {
    padding-left: 20px;
  }

  .logo {
    position: relative;
    z-index: 30;
  }

  .menu {
    display: none;
  }

  .main-section {
    margin-left: 0px;
  }

  .main__title {
    text-align: left;
    font-size: 50px;
    max-width: 290px;
    line-height: 65px;
  }

  .main__img {
    max-width: 330px;
    top: 0px;
    margin: 100 auto; 
    z-index: 2;
  }

  .main__btn {
    display: block; 
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-top: 80px; 
}

  .popular__btn {
  display: block; 
  width: 100%;
  font-size: 14px;
  text-align: center;
}

  .dog-care-btn {
    display: none;
  }

  .product__content {
    margin-bottom: 80px;
  }

  .product__one {
    max-width: 100%;
  }

  .popular__wrap-box {
    max-width: 100%;
  }
  
  .gallery__wrap-images a {
    width: 100%;
    height: 100%
  }
  
  .feedback {
    margin-bottom: -25px;
  }

  .feedback__btn {
    right: 40px;
  }

  .feedback__wrap {
    width: 100%;
  }

  .feedback__wrap-author,
  .feedback__wrap-job {
    margin-left: 0;
  }

  .svg {
    transform: scaleY(1.6);
    margin-top: 0;
  }

  .message__content {
    left: 130px;
    top: 0px
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    top: 0;
    gap: 0;
  }

  .footer__wrap-social {
    order: -2;
  }

  .footer-logo {
    margin-bottom: 0px;
  }

  .footer-img {
    display: inline-block;
  }

  .footer-social {
    justify-content: center;
    margin-bottom: 15px;
  }

  .footer__wrap-contact,
  .footer__wrap-homepage {
    gap: 10px;
    justify-content: space-evenly;
  }

  .footer__wrap-contact {
    gap: 10px;
    margin-bottom: 7px;
  }
}

/*########### Mobile Large ###########*/


@media (max-width: 600px) {
  .main__title {
    max-width: 225px;
    font-size: 42px;
  }

  .main__img {
    max-width: 285px;
  }

  .title {
    font-size: 28px;
  }

  .popular__second-wrapper {
    margin-bottom: 30px;
  }

  .dog-care-btn,
  .work__inner-btn {
    margin-top: 30px;
  }

  .dog-care-btn {
    display: none;
  }

  .feedback__btn {
    right: 33px;
  }

  .feedback__wrapper {
    max-width: 100%;
  }

  .svg {
    transform: scaleY(2);
  }

  .message__content {
    left: 60px;
    gap: 10px;
    top: -20px;
  }
}

/* ////////////// */
@media (max-width: 500px) {
  .main__title {
    max-width: 210px;
    font-size: 37px;
  }

  .main__img {
    max-width: 245px;
  }

  .dog-care-btn{
    display: none;
  }

  .work {
    margin-bottom: 50px;
  }

  .gallery__content {
    margin-bottom: 50px;
  }

  .feedback__wrap {
    max-width: 400px;
  }

  .svg {
    transform: scaleY(2.4);
    margin-top: 70px;
  }

  .message__content {
    left: 10%;
  }

  .message__wrapper {
    max-width: 370px;
    gap: 10px;
  }

  .message__content {
    top: 12px;
  }

  .message__form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 6%;
    margin-right: 6%;
  }

  .message__form-box,
  .message__form-btn {
    height: 60px;
  }

  .message__form-box {
    border-radius: 5px 5px 0 0;
  }

  .message__form-btn {
    left: auto;
    border-radius: 0 0 5px 5px;
  }

  .footer__wrapper {
    font-size: 14px;
  }

  .footer__fill-polygon {
    display: none;
  }
}

/* //////////// */
@media (max-width: 450px) {
  .main__title {
    font-size: 30px;
    line-height: 55px;
  }

  .main__img {
    max-width: 220px;
  }

  .nav ul {
    gap: 40px;
    font-size: 14px;
  }

  .product__content {
    margin-bottom: 55px;
  }

  .popular__btn,
  .dog-care-btn,
  .work__inner-btn {
    padding: 9px 14px;
    font-size: 14px;
  }

  .dog-care-btn {
    display: none;
  }

  .feedback {
    margin-bottom: 15px;
  }

  .feedback__wrap {
    max-width: 350px;
  }

  .feedback__btn {
    display: none;
  }

  .svg {
    transform: scaleY(3);
  }

  .message__content {
    top: 10px;
    left: 10px;
    width: 95%;
  }
}

/*########### Mobile Medium ###########*/

@media (max-width: 370px) {
  .main-section {
    margin-left: 20px;
  
  }

  .product__one-title  {
    font-size: 20px;
  }

  .product__one-desc,
  .popular__desc,
  .popular__wrap-follow,
  .care__wrap-desc,
  .work__wrap-text,
  .work__wrap-follow {
    font-size: 14px;
  }

  .popular__wrap-desc {
    font-size: 20px;
  }

  .message {
    margin-bottom: 55px;
  }

  .message__wrap-title {
    font-size: 22px;
  }
}